@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@200&display=swap');


/* General Styling*/
body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, .logo {
    font-family: 'Fredoka One', sans-serif;
}

p {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration:underline #9D8189;
    color: inherit;
}

i:hover {
    color:#F4ACB7;
}

.height-90vh {
    /* This pushes the footer down in html documents with little code*/
    min-height: 90vh;
}

/* Background Colors */

.fade-green {
    background-color: #D8E2DC;
}

.fade-yellow {
    background-color: #FFE5D9;
}

.fade-pink {
    background-color: #FFCAD4;
}

.fade-red {
    background-color: #F4ACB7;
}

.fade-brown {
    background-color: #9D8189;
}

/* Text Colors */

.text-white {
    color: white;
}

.text-black {
    color: black;
}

/* Navigation Bar */

.nav-link {
    color: inherit;
    font-weight: 600;
}

.nav-link:hover {
    color: inherit;
}

/* Homepage */

.hero-image {
    background: url(../images/hero-image.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}


/* Buttons */

button {
    background-color: #D8E2DC;
    font-weight: 800;
    border-radius: 10px;
}
