@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@200&display=swap');


/* General Styling*/
body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, .logo {
    font-family: 'Fredoka One', sans-serif;
}

h3, h4, h5, h6, p {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration:underline #9D8189;
    color: inherit;
}

i:hover {
    color:#F4ACB7;
}

    /* This pushes the footer down in html documents with little code*/
.height-60vh {
    min-height: 60vh;
}

/* Background Colors */

.fade-green {
    background-color: #D8E2DC;
}

.fade-yellow {
    background-color: #FFE5D9;
}

.fade-pink {
    background-color: #FFCAD4;
}

.fade-red {
    background-color: #F4ACB7;
}

.fade-brown {
    background-color: #9D8189;
}

/* Text Colors */

.text-white {
    color: white;
}

.text-black {
    color: black;
}

/* Navigation Bar */

.nav-link {
    color: inherit;
    font-weight: 600;
}

.nav-link:hover {
    color: inherit;
}

/* Hero Image */

.hero-image {
    background-image: url('/static/images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
}

/* Messages */

.alert {
    margin-bottom: 0;
    z-index: 10000;
}

/* Buttons */

button {
    background-color: #9D8189;
    font-weight: 800;
    border-radius: 10px;
    color: #fff;
}

button:hover {
    background-color: #FFE5D9;
    font-weight: 800;
    border-radius: 10px;
    color: #000;
}

/* Appointment Cards */

.card {
    display: inline;
}


/* For screen sizes from 905px wide or smaller*/
@media screen and (max-width: 905px){
    .responsive-font {
        font-size: 1.1rem;
    }
}


/* For screen sizes from 768px wide or smaller*/
@media screen and (max-width: 768px){
    .responsive-font {
        font-size: 1.0rem;
    }

    .hero-image {
        min-height: 30vh;
    }
}


/* For screen sizes from 480px wide or smaller*/
@media screen and (max-width: 480px) {
    .responsive-font {
        font-size: 0.8rem;
    }
}