{% extends "base.html" %}

{% load static %}

{% block content %}
   
    <!-- About us section -->
    <section class="row p-3 responsive-font">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8 text-center">
            <h2>Get Nailed with Dany</h2>
    
            <p>Hi! My name is Danyelle - but you can call me Dany.</p> 
            <p>I am a Brazilian nail designer who recently moved to Amsterdam to pursue my dream:
                Start my own business as a nail designer, and maybe one day open my own salon.</p>
            <p>I offer a variety of nail treatments and services, from gel to fiberglass nails. You can check all the services I provide <a href="#">here</a>. I am located in the heart of Amsterdam and easily accessible by public transport. I also owe a parking spot in case you prefer to come with your car.</p>
            <p>Let yourself be pampered and walk out the door with radiant nails!</p>
            <p>I am looking forward to welcoming you for a nail treatment day.</p>
        </div>
        <div class="col-lg-3 col-sm-2"></div>
    </section>

    <!-- Make an appointment button -->
    <div class="text-center p-4 responsive-font">
        <button type="button">Make an appointment!</button>
    </div>

    <!-- Contact us banner -->
    <div class="shadow-lg fade-yellow responsive-font">
        <div class="container contact-us-banner text-center p-2">
            <p>Questions?</p>
            <p><a href="{% url 'contact-us' %}">>> Get in touch with us here! <<</a></p>
        </div>
    </div>

{% endblock %}