{% extends "base.html" %}

{% load static %}

{% block content %}
   
    <!-- My Account -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>My Account Details:</h2>
                <p>Name: {{user.first_name}} {{user.last_name}}</p>
                <p>Username: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <p>Last logged in on: {{user.last_login}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>My Appointments:</h2>
            </div>
        </div>
    </div>



{% endblock %}