{% extends "base.html" %}

{% load static %}

{% block content %}
   
    <!-- My Account Details -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>My Account Details:</h2>
                <p>Name: <span class="fade-yellow">{{user.first_name}} {{user.last_name}}</span></p>
                <p>Username: <span class="fade-yellow">{{user.username}}</span></p>
                <p>Email: <span class="fade-yellow">{{user.email}}</span></p>
                <p>Last logged in on: <span class="fade-yellow">{{user.last_login}}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <!-- My Appointment Details -->
                <h2>My Appointments:</h2>
                {% for appointment in my_appointments %}
                    <div>
                        <div class="fade-yellow card-body">
                            <h5 class="card-title">{{ appointment.service }}</h5>
                            <h6 class="card-subtitle mb-2">{{ appointment.timestamp }}</h6>
                            <p class="card-text">{{ appointment.service.service_description }}</p>
                            <p class="card-text">status: {{ appointment.status }}</p>
                            <a href="/edit/{{ appointment.appointment_id }}">
                                <button>Modify</button>
                            </a>
                            <a href="/delete/{{ appointment.appointment_id }}">
                                <button>Cancel</button>'
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}